<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>btn_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,76},{110,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,35}}</string>
                <key>sourceSize</key>
                <string>{110,35}</string>
            </dict>
            <key>btn_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,76},{110,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,35}}</string>
                <key>sourceSize</key>
                <string>{110,35}</string>
            </dict>
            <key>home.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,2},{46,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,46}}</string>
                <key>sourceSize</key>
                <string>{46,46}</string>
            </dict>
            <key>level0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,39},{202,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{202,35}}</string>
                <key>sourceSize</key>
                <string>{202,35}</string>
            </dict>
            <key>level1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{202,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{202,35}}</string>
                <key>sourceSize</key>
                <string>{202,35}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>gameover.png</string>
            <key>size</key>
            <string>{256,128}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f325b2c57fa92ce6b1425c7324dab69e:1/1$</string>
            <key>textureFileName</key>
            <string>gameover.png</string>
        </dict>
    </dict>
</plist>
